@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --Mobile: 375px;
  --Desktop: 1440px;
  --clr-intro-and-email-sign-up-background: hsl(217, 28%, 15%);
  --clr-main-background: hsl(218, 28%, 13%);
  --clr-footer-background: hsl(216, 53%, 9%);
  --clr-testimonials-background-: hsl(219, 30%, 18%);
  --clr-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --clr-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --clr-Light-error: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img:not(.logo) {
  width: 100%;
  display: block;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  background: var(--clr-main-background);
  min-height: 100vh;
  color: var(--White);
  font-size: 14px;
}
.btn {
  padding: 0.4rem 0.8rem;
  background: var(--clr-inside-call-to-action-gradient);
  color: var(--White);
  border-radius: 15px;
  text-transform: capitalize;
  cursor: pointer;
  border: transparent;
}
/* HEADER */
nav {
  padding: 3rem;
}
.nav-center {
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links li {
  margin-left: 1rem;
}
.nav-links li a {
  color: var(--White);
  padding: 0.5rem;
}
.nav-links li a:hover {
  text-decoration: underline;
}
/* HERO */

.hero-center {
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.hero-center h1 {
  text-align: center;
  max-width: 17rem;
  margin: 0 auto;
  line-height: 1.24;
  margin-bottom: 1rem;
}
.hero-center p {
  max-width: 28rem;
  margin: 0 auto;
  line-height: 1.5;
}
.btn-hero {
  display: inline-block;
  padding: 0.6rem 3rem;
}
/* CARDS */
.cards {
  margin-top: 5rem;
  padding: 3rem;
}
.cards-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.card img {
  width: 7rem;
}
.card p {
  text-align: center;
  max-width: 20rem;
}
@media screen and (min-width: 768px) {
  .cards-center {
    grid-template-columns: 1fr 1fr;
  }
}
